.App {
  text-align: center;
  
}

.quiz-title {
  font-size: 30px;
  font-weight: bold;
}
.title-div {
 height: 100px;
 line-height: 100px;
 width: 100%;
 border: 1px solid red;
 background-color: white;
}
.details {
 font-size: 20px;
 padding-top: 20px;
}
.time-style {
 font-size: 26px;
 font-weight: bold;
}
.display-none {
 display: none;
}
.display-show {
 display: block;
}